#########
# WhiteSource parameters
#########

###
# Mandatory WhiteSource fields
###

wss.url=https://saas.whitesourcesoftware.com/api/v1.1
wss.apiKey=01234567890
wss.userKey=0123456789001234567890

###
# Optional WhiteSource fields
###

# Date should be in the format yyyy-MM-dd
#fromDate=2018-11-08
#toDate=2018-08-20 12:00:00

generateOfflineReport=false
connectionTimeout=50000
connectionRetries=1

wss.debugLevel=INFO

#########
# AVM parameters
#########

###
# Mandatory AVM fields
###

avm.name=fortify
avm.url=http://40.76.202.34:8080/
avm.user=name
avm.pass=pass

###
# Optional fields
###
avm.connectionTimeout=23432
avm.connectionRetries=2
avm.pluginName=WhiteSource
avm.application.sync=true
